* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.clearfix {
    clear: both;
    height: 0;
}

.container {
    max-width: 1200px;
    min-width: 320px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

@import "variables.scss";
@import "header.scss";
@import "content.scss";
@import "footer.scss";